In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

import functions

In [4]:
#Fake data
df = pd.DataFrame({})
regions = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "L"]

for i in range(len(regions)):
  df.insert(i, column=regions[i], value=np.random.laplace(size=int(1e6)))

df

,A,B,C,D,E,F,G,H,I,L
0,-1.637850,0.087186,0.025640,-0.428826,-0.789790,-1.833428,0.628298,-0.251497,-0.543320,0.668522
1,0.176739,0.645473,0.694005,-0.370736,-0.621101,0.049102,-1.126374,0.742677,-0.896395,-0.273077
2,0.527332,-0.052862,0.151201,-0.468420,0.533133,-0.074851,-0.952976,0.593751,0.773315,-0.735431
3,2.365599,0.982349,-1.190035,-2.008597,-1.239696,0.416026,-0.960130,-0.251038,2.297028,-1.388106
4,0.511557,1.216190,-0.550799,-1.665415,0.582877,-0.843601,-0.022633,-0.185477,-0.147092,0.372656
...,...,...,...,...,...,...,...,...,...,...
999995,-0.580111,-1.236285,-1.574757,0.173039,0.206723,-1.482644,-0.062833,-0.132954,0.037243,1.080188
999996,-0.224927,1.254354,-0.438802,-1.020584,-1.702028,0.750167,0.170980,3.654037,-0.622986,-2.479843
999997,-0.413059,-0.479309,-1.601072,1.534962,-1.300937,-1.559462,2.345497,0.216158,2.502843,0.570570
999998,-2.406043,-0.470849,-2.795333,2.972088,0.534886,-0.482694,0.091598,0.612265,-0.739343,1.151044
999999,-2.526523,0.640155,-0.421189,0.284822,-0.591523,0.079165,-2.103719,3.235492,-0.121897,-1.822570